<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
{#    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>#}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
{#    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"/>#}
{#    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>#}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}js/bootstrap.min.js"/>
<style type="text/css">
    body {background-color: #F5F5F5}

    #rooms_area div {
        border-style: solid none solid solid;
        border-width: 1px;
        background-color: rgb(97, 97, 97);
    }

    #rooms_area div.active_room {
        background-color: #F5F5F5;
    }

    .glyphicon-edit, .glyphicon-remove {
        cursor: pointer;
    }

</style>
</head>

<body>
    {% block content %}
    {% endblock content %}
</body>
</html>
