<script>
var ws;

function get_time() {
    var currentTime = new Date()
    hours = currentTime.getHours()
    minutes = currentTime.getMinutes()
    now_time = '<strong>[' + hours + ":" + minutes + '] </strong>'
    return now_time
};

function send_message(event) {
    var message = document.getElementById('txt_message')

    function send() {
        if (message.value.trim() == '') {
            alert('You cant send empty message')
        }
        else {
        var json = mess = {'msgtype':'chat',
                           'msg':{'text':message.value}};
        ws.send(JSON.stringify(json));
        message.value = '';}
    }

    if (event.type == 'keypress') {
        if (event.which == 13 || event.keyCode == 13) {
            send()
            return false;}
        return true;
    }
    else {
        send()
    }
}

function change_room(elem) {
    var curr_room = $('a.room').has('strong')
    var curr_room_name = curr_room.text()
    var new_room_name = $(elem).text();

    $('#users_area').empty();
    $('#chat_area').empty();
    curr_room.html(curr_room_name);

    mess = {'msgtype':'chat',
            'msg': {'new_room':new_room_name,
                    'text':'change_room'}};
    ws.send(JSON.stringify(mess));
}

$(document).ready(function() {
    var saved_messages = sessionStorage.getItem('saved_messages')
    if (saved_messages) {
        $('#chat_area').append(saved_messages);
    }
    ws = new WebSocket("ws://{{ tornado_full_address }}/websocket");
    ws.onmessage = function(event){
        if ('new_user:' == event.data.slice(0,9)) {
            message = event.data.slice(9).trim();
            $('#users_area').append('<div id="'+message+'">'+message+'</div>').scrollTop($('#users_area').innerHeight());
        }
        else if ('all_rooms:' == event.data.slice(0,10)) {
            var rooms =  event.data.slice(10).trim().split(';');
            for (var i=0;i<rooms.length;i++) {
                var room = rooms[i];
                $('#rooms_area ul').append('<li><a class="room" href="#" onclick="change_room(this)">'+room+'</a></li>');
            }
        }
        else if ('change_room:' == event.data.slice(0,12)) {
            var new_room_name = event.data.slice(12).trim();
            $('a.room').each(function() {
                var room = $(this);
                if (room.text() == new_room_name) {
                    room.html('<strong>'+new_room_name+'</strong>');
                    return false;}
            })
        }

        else if('remove_user:' == event.data.slice(0, 12)){
            var remove_nick = event.data.slice(12).trim();
            $('#'+remove_nick).remove();
        }
        else {
            $('#chat_area').append(get_time()+event.data+'<br/>');
        }
    }

        $('#expand').on('click', function() {
            $('#whole_chat').slideToggle('slow');
        });
        $('#txt_message').on('keypress', {}, send_message);
        $('#submit').on('click', send_message);
});

$(window).on('beforeunload', function(event) {
    sessionStorage.setItem('saved_messages', $('#chat_area').html())
    mess = {'msgtype':'chat',
            'msg': {'text':'disconnect'}};
    ws.send(JSON.stringify(mess));
});

</script>

<div class="row" id="container">
<div class="col-md-offset-2 col-md-8">

<div class="row" style="background-color: rgb(133,133,133)">
    <div class="col-md-1">
        <a id="expand" href="#" style="color: #E76600"><strong>ЧАТ</strong></a>
    </div>
</div>

<div class="row" id="whole_chat" style="border-style:solid;border-width:1px;">
<div class="col-md-12">

<div class="row">
    <div class="col-md-2" id="rooms_area" style="border-bottom-style: solid;border-width:1px;height:350px;overflow:auto;">
        <ul class="list-unstyled"></ul>
    </div>
    <div class="col-md-8" id="chat_area" style="border-style: none solid solid;border-width:1px;height:350px;overflow:auto;"></div>
    <div class="col-md-2" id="users_area" style="border-bottom-style: solid;border-width:1px;height:350px;overflow:auto;"></div>
</div>
<div class="row">
    <div class="col-md-7">
        <input type="text" id='txt_message' class="form-control" name="message"/>
    </div>
    <div class="col-md-2">
        <input type="submit" id='submit' class="btn btn-default" value="Отправить"/>
    </div>
    <div class="col-md-3 pull-right">
        <a href="#" class="btn btn-default">Смайлы</a>
    </div>
</div>
</div>
</div>

</div>
</div>