<script>
var ws;

$(window).on('beforeunload', function() {
    var current_room_name = $('.active_room').text()
    mess = {'msg_from': 'chat',
            'msg': {'room': current_room_name,
                    'type': 'disconnect'}};
    ws.send(JSON.stringify(mess));
})

function get_time() {
    var currentTime = new Date()
    hours = currentTime.getHours()
    minutes = currentTime.getMinutes()
    now_time = '<strong>[' + hours + ":" + minutes + '] </strong>'
    return now_time
};

function send_message(event) {
    var message = $('input#txt_message')

    function send() {
        if (message.val().trim() == '') {
            alert('You cant send empty message')
        }
        else {
            var current_room_name = $('.active_room').text()
            var json = mess = {'msg_from': 'chat',
                               'msg': {'type': 'text',
                                       'room': current_room_name,
                                       'text': message.val()}};
            ws.send(JSON.stringify(json));
            message.val('');
        }};

    if (event.type == 'keypress') {
        if (event.which == 13 || event.keyCode == 13) {
            send();
            return false;}
        return true;
    }
    else {
        send();
    }
}

function change_room(elem) {
    var curr_room = $('#rooms_area div').filter('.active_room')
    var current_room_name = curr_room.text()
    var new_room = $(elem).parent();
    var new_room_name = new_room.text();

    mess = {'msg_from': 'chat',
            'msg': {'room': current_room_name,
                    'new_room': new_room_name,
                    'type': 'change_room'}};
    ws.send(JSON.stringify(mess));

    curr_room.removeClass('active_room');
    $('#chat_area div').hide()
    new_room.addClass('active_room');
    $('#chat_area div').filter('#'+new_room_name).show();
}

function create_room(elem) {
    while (true) {
        var created_room = prompt('Введите название комнаты')
        if (created_room.trim() == '') { // тут может быть undefined, надо проверять.
            alert('Имя комнаты не должно быть пустым');
            continue;}
        break;
    }
    mess = {'msg_from': 'chat',
            'msg': {'type': 'create_room',
                    'created_room': created_room}};
    ws.send(JSON.stringify(mess));
}

function edit_room_name(elem) {
    var room_name = $(elem).parent().text();
    while (true) {
        var edited_name = prompt('Измените название комнаты');
        if (edited_name.trim() == '') { // тут может быть undefined, надо проверять.
            alert('Имя комнаты не должно быть пустым');
            continue;}
        break;
    }
    mess = {'msg_from': 'chat',
            'msg': {'type': 'edit_room_name',
                    'room': room_name,
                    'edited_name': edited_name}};
    ws.send(JSON.stringify(mess));
}

function delete_room(elem) {
    var deleted_name = $(elem).parent().text();
    var delete_room = confirm('Удалить комнату?');
    if (delete_room) {
        mess = {'msg_from': 'chat',
            'msg': {'type': 'delete_room',
                    'deleted_room': deleted_name}};
        ws.send(JSON.stringify(mess));
    };
}

$(function() {
    ws = new WebSocket("ws://{{ tornado_full_address }}/websocket");
    ws.onmessage = function(event){
        var d = JSON.parse(event.data);
        var room_html = $('<div class="row">' +
                          '<a onclick="change_room(this)"></a>' +
                          {% if perms.chat_app.change_room and  perms.chat_app.delete_room%}
                              '<span class="glyphicon glyphicon-remove text-danger pull-right" onclick="delete_room(this)"></span>' +
                              '<span class="glyphicon glyphicon-edit text-success pull-right" onclick="edit_room_name(this)"></span>' +
                          {% endif %}
                          '</div>')
        if ('initialization' == d['type']) {
            for (var i=0;i<d['rooms'].length;i++) {
                var room = d['rooms'][i];
                $('a', room_html).attr('href', '#'+room)
                $('a', room_html).text(room)
                $('#rooms_area').append(room_html.wrap('<div>').parent().html());
                $('#chat_area').append('<div id="'+room+'"></div>');
            };
            var main_room = $('#rooms_area div').first();
            $('#chat_area div').hide();
            main_room.addClass('active_room');
            $('#chat_area div').filter('#'+main_room.text()).show()
        }
        else if('text' == d['type']) {
            var mess = get_time() + d['user'] + ':' + d['text'] + '<br>';
            var required_chat_div = '#chat_area #' + d['room'];
            $(required_chat_div).append(mess);
        }
        else if ('all_users' == d['type']) {
            $('#users_area').empty();
            for (var i=0;i<d['users'].length;i++) {
                var user = d['users'][i];
                $('#users_area').append('<div id="'+user+'">'+user+'</div>');
            };
        }
        else if ('add_user' == d['type']) {
            $('#users_area').append('<div id="'+d['user']+'">'+d['user']+'</div>').scrollTop($('#users_area').innerHeight());
            var mess = get_time() + 'Пользователь ' + d['user'] + ' вошел в комнату <br>';
            var required_chat_div = '#chat_area #' + d['room'];
            $(required_chat_div).append(mess);
        }
        else if ('remove_user' == d['type']) {
            $('#users_area div').remove('#'+d['user']);
            var mess = get_time() + 'Пользователь ' + d['user'] + ' покинул комнату <br>';
            var required_chat_div = '#chat_area #' + d['room'];
            $(required_chat_div).append(mess);
        }
        else if ('create_room' == d['type']) {
            var created_room = d['created_room'];
            $('a', room_html).attr('href', '#'+created_room);
            $('a', room_html).text(created_room);
            $('#rooms_area').append(room_html.wrap('<div>').parent().html());
            $('#chat_area').append('<div id="'+created_room+'"></div>');
        }
        else if ('edit_room_name' == d['type']) {
            $('#rooms_area div a:contains("'+d['room']+'")').text(d['edited_name']);
        }
        else if ('delete_room' == d['type']) {
            $('#rooms_area div').remove(':contains("'+d['deleted_room']+'")');
            $('#chat_area div').remove('#'+d['deleted_room']);
        }
{#        else if ('drop_to_main' == d['type']) {#}
{#            var curr_room = $('#rooms_area div').filter('.active_room')#}
{#            var current_room_name = curr_room.text()#}
{#            var new_room = $(elem).parent();#}
{#            var new_room_name = new_room.text();#}
{#        #}
{#            curr_room.removeClass('active_room');#}
{#            $('#chat_area div').hide()#}
{#            new_room.addClass('active_room');#}
{#            $('#chat_area div').filter('#'+new_room_name).show();#}
{#            #}
{#            $('#users_area').empty();#}
{#            for (var i=0;i<d['users'].length;i++) {#}
{#                var user = d['users'][i];#}
{#                $('#users_area').append('<div id="'+user+'">'+user+'</div>');#}
{#            };#}
{#        }#}
        else if('disconnect' == d['type']) {
            var remove_nick = d['user'];
            $('#'+remove_nick).remove();
        }
        else if ('error' == d['type']) {
            alert(d['text']);
        }
    }

    $('#expand').on('click', function() { $('#whole_chat').slideToggle('slow'); });
    $('#txt_message').on('keypress', {}, send_message);
    $('#submit').on('click', send_message);
{#    $('span').on('click', edit_room_name);#}
    {% if perms.chat_app.add_room %}
        $('#create').on('click', create_room);
    {% endif %}

});
</script>

<div class="row" id="container">
<div class="col-md-offset-2 col-md-8">

    <div class="row" style="background-color: rgb(133,133,133)">
    <div class="col-md-1">
        <a id="expand" href="#" style="color: #E76600"><strong>ЧАТ</strong></a>
    </div>
    </div>

    <div class="row" id="whole_chat" style="border-style:solid;border-width:1px;">
    <div class="col-md-12">

        <div class="row">
            <div class="col-md-2" id="rooms_area" style="border-bottom-style: solid;border-width:1px;height:350px;overflow:auto;">
            </div>
            <div class="col-md-8" id="chat_area" style="border-style: none solid solid;border-width:1px;height:350px;overflow:auto;"></div>
            <div class="col-md-2" id="users_area" style="border-bottom-style: solid;border-width:1px;height:350px;overflow:auto;"></div>
        </div>

        <div class="row">
            {% if perms.chat_app.add_room %}
                <div class="col-md-2">
                <button type="button" id="create" class="btn btn-default"><span class="glyphicon glyphicon-plus text-success"></span>Создать</button>
                </div>
            {% endif %}
            <div class="col-md-7">
                <input type="text" id='txt_message' class="form-control" name="message"/>
            </div>
            <div class="col-md-2">
                <input type="submit" id='submit' class="btn btn-default" value="Отправить"/>
            </div>
        </div>
    </div>
    </div>

</div>
</div>